/.vs/**
/_Boot/**
/_Config/**
/BohrMachine/_CompileInfo/**
/BohrMachine/_Libraries/**
SuperEffectiveBohrMachine.project.~u
.engineering_servers/BohrUI/logger.db
.engineering_servers/BohrUI/TcHmiSrv.pid
